<% layout('layout/boilerplate') %> 
    <h1>cg all</h1>
    <a href="/cg/new">create new</a> <br>
    <% for(let a of all_cg){ %>
        <div style="display: inline-block; background-color: orange; width: 300px; margin-bottom: 3px;">
            <ul>
                <li>title : <%= a.title %> </li>
                <a href="/cg/<%= a._id %>">more</a>
            </ul>
        </div>
    <% } %>