<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>DETAILS</h1>
    <ul>
        <li>title : <%= a.title %> </li>
        <li>location : <%= a.location %> </li>
    </ul>
    <a href="/cg/<%= a._id %>/edit">edit</a>
    <a href="/cg">back</a>
</body>
</html>